
div.mobile, div.desktop {
    display: none;
}


* {
    max-width: 100%;
}

::selection {
    background-color: #ffcb74;
    color: #111111;
}
 
html {
    scroll-behavior: smooth;    
}

body {
    margin: 1vw;
    font-size: 24px;
    font-family: Arial, sans-serif;
    background-color: #2f2f2f;
    color: #f6f6f6;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    background-color: #111111;
    color: #ffcb74;
    border:0.5rem solid transparent;
    border-radius: 1rem;
  }
  
.parent {
/*
    border: 3px solid #ffcb74;*/
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
      
}

.parent2 {
/*
    border: 3px solid #ffcb74;*/
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; 
      
}



.title {
    flex: 0.3;/*
    border-radius: 1rem;
    background-color: #111111;*/
    color: #ffcb74;


}

.image {/*
    border: 5px solid green;*/
    flex: 1;
    width: 0%;
    height: auto;
}

div > div {
    
    flex: 2;/*
    border: red solid 3px;*/
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center; 
    text-align: center;
}

.caption {
      margin: 0 0.5rem;/*
      background-color: rgba(255, 255, 255, 0.1);*/
}


.button {
    display: inline-block;
    padding: 0.5rem 0.5rem;
    margin: 0rem 0.5rem;
    background-color: #ffcb74;
    color: #111111;
    text-decoration: none;
    border-radius: 0.5rem;
  }
 
.button:hover {
    background-color: #111111;
    color: #ffcb74;
}

