.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
}

nav .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem 0;
    background-color: #1f1d1d;
    box-shadow: 0px 0px 10px 0px #6969aa;

}

.home-saved-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
}

.log-in-out-container {
    display: flex;
    width: 33%;
    justify-content: center;
}

.log-in-out-container button {
    display: none;
    background: none;
    border: none;
}

.nav-icon {
    width: 2rem;
    cursor: pointer;
}

#logOut img {
    width: 2.1rem;
}

/* @media screen and (max-width: 650px) {
    .nav-icon {
        height: 32px;
        width: 32px;
    }
}

@media screen and (max-width: 450px) {
    .nav-icon {
        height: 28px;
        width: 28px;
    }
} */


@media screen and (min-width: 769px) {
    .home-saved-container {
        flex: 3;
    }
}