.nav-container {
    position: fixed;
    top: 0.2rem;
    left: 5%;
    width: 90%;

}

nav .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem 0;
    background-color: #1f1d1d;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 0px #6969aa;

}

.home-saved-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 66%;
}

.log-in-out-container {
    display: flex;
    width: 33%;
    justify-content: center;
    height: 2rem;

}

a {
    color: white;
    text-decoration: none;
}

.nav-heart,
.nav-home {
    width: 2rem;
}


#logIn {
    background-color: rgba(166, 215, 133, 0.5);
    /* background-color: rgba(0, 255, 0, .5); */
    /* background-color: rgb(255, 203, 116, .5); */
    border-radius: .25rem;
}

.log-out {
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: .25rem;
}

#logIn,
.log-out {
    display: none;
    border: none;
    color: #d2ebf8;
    height: 32px;
    font-size: 22px;
    cursor: pointer;
} 



@media screen and (max-width: 450px) {

    .nav-heart,
    .nav-home {
        height: 32px;
        width: 32px;
    }


}

@media screen and (max-width: 650px) {

    .nav-heart,
    .nav-home {
        height: 32px;
        width: 32px;
    }


}


@media screen and (min-width: 769px) {
    .home-saved-container {
        flex: 3;
    }
}