* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #2f2f2f;
    font-family: Arial, sans-serif;
}

a, .noSelect {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}
