.seek-slider, .volume-slider {
    position:absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 999999999;
    transition: 3s linear;
    opacity: 0;
}

.custom-controls {
    display: flex;
    flex-direction: row; /* Already set */
    justify-content: space-between; /* Distribute items evenly */
    align-items: center; /* Vertically align content */
  }
  
.bar {
    position: relative;
    width: 43%;
    height: 1rem;
    background: rgb(105, 105, 170, .1);
    margin: 0 1rem;
}

.bar2 {
    position: absolute;
    background: #ffcb74;
    width: 0%;
    height: 100%;
    top: 0;
    transition: .001s linear;

}

.dot {
    position: absolute;
    background: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: .001s linear;
}

.dot::before {
    content: "";
    position: absolute;
    border: 1px solid transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0 0 3px transparent;
}

.vol .bar2 {
    width: 100%;
}

.vol .dot {
    left: 100%;
}






@media screen and (max-width: 600px) {
    * {
        font-size: .95rem;
    }
}


@media screen and (max-width: 450px) {
    * {
        font-size: .85rem;
    }
}